:root {
  --primary-font-famili: 'Roboto', sans-serif;
  --secondary-font-famili: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-color: #ffffff;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font-famili);
  font-size: 14px;
  font-style: normal;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.top-bottom {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid;
  border-color: #eeeeee;
  height: 80px;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: auto;
}

.header__contact {
  display: flex;
  align-items: center;
  margin-right: 50px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact:focus, .header__contact:hover {
  color: var(--accent-color);
}

.header__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact:focus .header__icon,
.header__contact:hover .header__icon {
  fill: var(--accent-color);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  background: var(--secondary-text-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero__text {
  text-transform: uppercase;
  max-width: 650px;
  margin: 0 auto;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  color: var(--main-color);
}

.hero__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
  color: var(--main-color);
  background: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background: #188ce8;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .studio {
  font-family: var(--secondary-font-famili);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
}

.address {
  width: 231px;
  height: 81px;
  margin-top: 20px;
}

.adres {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-color);
}

.footer-mail .adres {
  margin-bottom: 9px;
}

.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
}

.footer-addres {
  margin-right: 70px;
}

.footer-icon {
  margin-right: 93px;
}

.footer-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  margin-right: 12px;
  background: #2F303A;
  color: var(--main-color);
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus, .footer-input:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

.icon-telegram {
  margin-left: 10px;
}

.footer-list {
  display: flex;
  margin-top: 20px;
}

.people-info-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-info-footer:focus, .people-info-footer:hover {
  background-color: var(--accent-color);
}

.links-footer {
  fill: #fff;
}

.footer-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.label-modal {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus, .input-modal:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.input-modal:not(:placeholder-shown) {
  border: 1px solid #2196F3;
}

.input-icon {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus, .input-icon:hover {
  fill: var(--accent-color);
}

.svg-modal {
  position: absolute;
  top: 50%;
  left: 12px;
}

.input-modal:not(:placeholder-shown) + .svg-modal {
  fill: var(--accent-color);
}

.textarea-modal {
  display: block;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: transparent;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus, .textarea-modal:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.textarea-modal::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-modal:not(:placeholder-shown) {
  border: 1px solid #2196F3;
}

.coment {
  margin-bottom: 20px;
}

.checkbox-modal {
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.contract-chek {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract-chek::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-chekbox:checked + .contract-chek::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-size: contain;
}

.chekbox-text {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.button-modal {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

.section-portfolio {
  padding-top: 94px;
}

.button-portfolio {
  font-family: inherit;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background: #f5f4fa;
  color: var(--secondary-text-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus, .button-portfolio:hover {
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 3px rgba(0, 0, 0, 0.1), 0px 1px rgba(0, 0, 0, 0.08);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}

.paragraf-portfolio {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin-top: 4px;
}

.section-portfolio .list-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-portfolio:not(:last-child) {
  margin-right: 8px;
}

.img-portfolio {
  padding-bottom: 94px;
}

.img-portfolio .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.img-list {
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-list:focus, .img-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-portfolio {
  padding: 24px 20px;
  border: 1px solid;
  border-color: #eeeeee;
  border-top: none;
}

.studio {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 94px;
  font-family: var(--secondary-font-famili);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.web {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.title-section {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--secondary-text-color);
}

.title-info {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.title-section {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.nanavigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.nanavigation__list {
  position: relative;
  display: inline-block;
  padding-top: 31px;
  padding-bottom: 31px;
  cursor: pointer;
}

.nanavigation__list:not(:last-child) {
  margin-right: 50px;
}

.nanavigation__info {
  position: relative;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nanavigation__info:focus, .nanavigation__info:hover {
  color: var(--accent-color);
}

.nanavigation__line {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nanavigation__line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paragraf-info {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.work {
  padding-bottom: 94px;
}

.work .list {
  display: flex;
  margin-top: 50px;
}

.img-box {
  position: relative;
}

.img-box:not(:last-child) {
  margin-right: 30px;
}

.text-img-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background: rgba(47, 48, 58, 0.8);
}

.people {
  background: #f5f4fa;
}

.people .name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.people .list {
  display: flex;
}

.people-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.people-card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.people-card:not(:last-child) {
  margin-right: 30px;
}

.links-people {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.people-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-info:focus, .people-info:hover {
  background-color: var(--accent-color);
}

.links {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-info:hover .links,
.people-info:focus .links {
  fill: var(--main-color);
}

.people-list-item:not(:last-child) {
  margin-right: 10px;
}

.prof {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
  background: #f5f4fa;
}

.info .list {
  display: flex;
}

.list-info:not(:last-child) {
  margin-right: 30px;
}

.group-client {
  display: flex;
  background: #fff;
}

.client {
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:focus, .client:hover {
  border-color: var(--accent-color);
}

.client:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group-info:focus .clients-icon,
.group-info:hover .clients-icon {
  fill: var(--accent-color);
}

.group-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-overlay-list:focus .overlay,
.img-overlay-list:hover .overlay,
.img-overlay:focus .overlay,
.img-overlay:hover .overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */