.studio {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 94px;
    font-family: var(--secondary-font-famili);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

.web {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}