.work {
    padding-bottom: 94px;
}

.work .list {
    display: flex;
    margin-top: 50px;
}
.img-box {
    position: relative;

    &:not(:last-child){
        margin-right: 30px;
    }
}

.text-img-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);

    background: rgba(47, 48, 58, 0.8);
}