.footer .container {
    display: flex;
    align-items: baseline;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer .studio {
    font-family: var(--secondary-font-famili);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--main-color);
}

.address {
    width: 231px;
    height: 81px;
    margin-top: 20px;
}

.adres {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-color);
}

.footer-mail .adres {
    margin-bottom: 9px;
}

.adres-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--footer-text-color);
}

.footer-addres {
    margin-right: 70px;
}

.footer-icon {
    margin-right: 93px;
}

.footer-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.footer-input {
    width: 358px;
    height: 50px;
    font-size: 16px;
    margin-right: 12px;
    background: #2F303A;
    color: var(--main-color);
    border-radius: 4px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


.footer-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.icon-telegram {
    margin-left: 10px;
}

.footer-list {
    display: flex;
    margin-top: 20px;
}

.people-info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        background-color: var(--accent-color);
    }
}

.links-footer {
    fill: #fff;
}

.footer-info {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}