
.header {
    border-bottom: 1px solid;
    border-color: #eeeeee;
    height: 80px;
}
.header__box{
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    margin-left: auto;
}

.header__contact {
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
}

.header__icon {
    margin-right: 10px;
    fill: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__contact:focus &,
    .header__contact:hover & {
        fill: var(--accent-color);
    }
}