.section-portfolio {
    padding-top: 94px;
}

.button-portfolio {
    font-family: inherit;
    padding: 6px 22px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background: #f5f4fa;
    color: var(--secondary-text-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            color: var(--main-color);
            background: var(--accent-color);
            box-shadow: 0px 2px rgba(0, 0, 0, 0.12),
            0px 3px rgba(0, 0, 0, 0.1),
            0px 1px rgba(0, 0, 0, 0.08);
        }
}

.title-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--secondary-text-color);
}

.paragraf-portfolio {
    font-size: 16px;
    line-height: 1.8;
    color: var(--primary-text-color);
    margin-top: 4px;
}

.section-portfolio .list-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list-portfolio:not(:last-child) {
    margin-right: 8px;
}

.img-portfolio {
    padding-bottom: 94px;
}

.img-portfolio .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.img-list {
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.content-portfolio {
    padding: 24px 20px;
    border: 1px solid;
    border-color: #eeeeee;
    border-top: none;
}