:root {
    --primary-font-famili: 'Roboto', sans-serif;
    --secondary-font-famili: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --main-color: #ffffff;
    --accent-color: #2196f3;
}